<h1>Cocktails</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %>
      <%= link_to "ðŸ—‘ï¸", cocktail_path(cocktail), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{cocktail.name.capitalize}?" } %>
    </li>
  <% end %>
</ul>
<%= link_to "+ Add a Cocktail recipe", new_cocktail_path %>
